
body{
    background-color: black;
    background-image: url(graphics/circle_plain.png);background-repeat: no-repeat;
    background-size: cover;
}

#thetitle {
    position:absolute; top: 280px; left: 275px;
    font-family: fantasy;
    color: white;
}

#line1{
    position:absolute; top: 380px; left: 275px;
    font-family: fantasy;
    color: white;
}

#line2{
    position:absolute; top: 420px; left: 275px;
    font-family: fantasy;
    color:white;
}

#game{
    position:absolute; top: 460px; left: 275px;
    font-family: fantasy;
    color: white;
}

hr{
    border-color:white;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

#page1{
    background-color: black;
}